<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocft.gateway.mapper.BackonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ocft.gateway.entity.Backon">
    <result column="id" property="id" />
        <result column="system" property="system" />
        <result column="domain" property="domain" />
        <result column="suffix" property="suffix" />
        <result column="status" property="status" />
        <result column="description" property="description" />
        <result column="success_code" property="successCode" />
        <result column="success_value" property="successValue" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        system, domain, suffix, status, description, success_code, success_value, is_deleted, create_time, update_time, create_by, update_by
    </sql>

</mapper>
