<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocft.gateway.mapper.GatewayInterfaceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ocft.gateway.entity.GatewayInterface">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="backon_url" property="backonUrl"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="http_method" property="httpMethod"/>
        <result column="system" property="system"/>
        <result column="version" property="version"/>
        <result column="pre_interceptors" property="preInterceptors,"/>
        <result column="post_interceptors" property="postInterceptors,"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="invoke_config" property="invokeConfig"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name, url, type, status, system, version, is_deleted, invoke_config, create_time, update_time, create_by, update_by
    </sql>

    <select id="queryGateWayInterfaces" parameterType="com.ocft.gateway.web.dto.request.QueryGatewayInterfaceRequest" resultType="com.ocft.gateway.entity.GatewayInterface">
            SELECT
            i.id,
            i.name,
            i.url,
            i.backon_url,
            i.type,
            i.status,
            i.system,
            i.pre_interceptors,
            i.post_interceptors,
            i.invoke_config,
            i.create_time,
            i.create_by,
            i.update_time,
            i.update_by
        FROM
            gateway_interface i
        <where>
            1=1
            <if test="req.name!=null and req.name!=''">
                and i.name = #{req.name,jdbcType=VARCHAR}
            </if>

            <if test="req.url!=null and req.url!=''">
                and i.url = #{req.url,jdbcType=VARCHAR}
            </if>

            <if test="req.backonUrl!=null and req.backonUrl!=''">
                and i.backon_url = #{req.backonUrl,jdbcType=VARCHAR}
            </if>

            <if test="req.status!=null and req.status!=''">
                and i.status = #{req.status,jdbcType=VARCHAR}
            </if>
            and i.is_deleted = 0

        </where>


    </select>

</mapper>
